.app {
  .app__wrapper-opacity {
    margin: 0;
    padding: 30px 0 0 0;
  }

  .app__wrapper-dark {
    background-color: @dark-blue-background;
    margin: 0;
    padding: 28px 20px 38px 20px
  }

  .app__background-img {

  }

  .app__slogan {
    font-size: 24px;
    line-height: 28px;
    color: @white-text;
    font-weight: 300;
    text-align: center;
  }

  .app__img {

  }

  .app__link {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: @white-text;
    text-align: center;


    a {
      color: @white-text;
    }
  }

  .app__icon-list {
    list-style: none;
    padding: 0;
  }

  .app__icon-item {

  }

  .app__text {
    color: @white-text;
    text-align: center;
  }
}
