.catalog-page {
  .catalog-page__header {
    margin: 0;
    padding: 36px 20px 84px 20px;
  }

  .catalog-page__title {
    font-size: 24px;
    line-height: 33px;
    font-weight: 300;
    color: @white-text;
    text-align: center;
  }

  .catalog-page__text-top {
    background-color: @white-background;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    margin: 0;
    padding: 54px 20px 60px 20px;
  }

  .catalog-page__list {
    background-color: @white-background;
    padding: 0;
    list-style: none;
  }

  .catalog-page__text-bottom {
    background-color: @white-background;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
  }

  .catalog-page__user-photo {
    background-color: @light-grey-background;
    margin: 0;
    padding: 20px 20px 40px 20px;
  }

  .catalog-page__post-buttons {
    list-style: none;
  }
}
