.catalog-photo {
  margin: 0;
  padding: 0;

  .catalog-photo__item:not(:first-child):not(:last-child) {
    margin: 0;
    margin-bottom: 20px;
    padding: 0 20px 0 20px;
  }

  .catalog-photo__item:first-child {
    margin: 0;
    padding: 0;
  }

  .catalog-photo__item:first-child .catalog-photo__desc {
    margin: 0 20px 20px 20px;
  }

  .catalog-photo__item:last-child {
    margin: 0;
    padding: 0 20px 0 20px;
  }

  .catalog-photo__img {
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    text-align: center;
  }

  .catalog-photo__desc {
    margin: 0;
    padding: 25px 10px 25px 17px;
    background-color: @light-grey-background;
  }

  .catalog-page__text-bottom {
    margin: 0;
    padding: 49px 20px 52px 20px;
  }
}
