.page-footer {
  background-color: @white-background;
  margin: 0;
  padding: 0;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 40px 20px;
    min-height: 284px;
  }

  &__social-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 172px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: @tablet-width) {
    &__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-height: 127px;
      padding: 0 20px;
    }
  }

  @media (min-width: @desktop-width) {
    &__wrapper {
      min-height: 197px;
      padding: 0 130px;
    }
  }
}
