.post-buttons {
  &__item {
    text-align: center;
  }

  &__post {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    color: fade(@text, 10%);
  }

  &__post--active {
    color: @red-text;
  }

  &__cancel {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: fade(@text, 10%);
  }
}
