.tariff {
  background-color: @light-grey-background;
  margin: 0;
  padding: 0;

  .tariff__table {
    background-color: @white-background;
  }

  .tariff__header {
    margin: 0;
    padding: 19px 20px 35px 20px;
  }

  .tariff__name-price {
    background-color: @dark-blue-block;
  }

  .tariff__name {
    font-size: 16px;
    line-height: 30px;
    font-weight: 700;
    color: @white-text;
    text-align: center;
  }

  .tariff__price {
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;
    color: @white-text;
    text-align: center;
  }

  .tariff__variation {
    line-height: 30px;
  }

  .tariff__toggles {
    margin: 0;
    padding: 45px 20px 49px 20px;
  }
}
